In [18]:
import pandas as pd
#why doesnt pandas support xml lol
import xml.etree.ElementTree as ET
#for reading the dictionary in the prices column i guess
import json
"""
fastest probably to manually download all card file, save JSON to this folder and replace the filename below
make sure to update the file below in order to have current price and card data
price data is considered stale after 24 hours
"""

#takes a json file downloaded from scryfall
fname = "all-cards-20210224101318.json"
#take a .dek xml file exported from MTGO
dekname = "Full_Trade_List.dek"


#todo
# 1. done (stripped done to which rows have at least either a mtgo_id or mtgo_foil_id)
# 2. done (selected which columns to keep)
# 3. done (load mtgo .dek file)
# 4. done (get prices for each item and then create a column and that dataframe with the price)
# 5. clean up and simplify the code & comment better
# 6. add interesting data print out in a final cell
# 7. add price of tix to file

In [2]:
#takes a while, loads in the scryfall file, defines the columns to keep

scryfall = pd.read_json(fname)
cols_keep = pd.Index(['object','id','mtgo_id','mtgo_foil_id','name','mana_cost','type_line','prices'])
simpler_cols = pd.Series(['mtgo_id','prices'])

In [3]:
#shrinks the scryfall file to just stuff that we want to work with

small_scry = scryfall[simpler_cols].dropna(subset=["mtgo_id"])

In [4]:
#brings in your collection and parses the xml file into a pandas df
file = open(dekname, 'r')
collection_xml = file.read()
etree = ET.fromstring(collection_xml)
cols = ['mtgo_id','Quantity','Name']
collection_df = pd.DataFrame(columns=cols)
for i in etree:
    row = pd.Series([i.get("CatID"),i.get('Quantity'),i.get('Name')],index=cols)
    collection_df = collection_df.append(row,ignore_index=True)
collection_df = collection_df.dropna().astype({"mtgo_id": int})

In [6]:
#joining the two tables via the mtgo id value
collection_df = collection_df.set_index('mtgo_id').join(small_scry.set_index('mtgo_id'))

KeyError: "None of ['mtgo_id'] are in the columns"

In [7]:
collection_df = collection_df.reset_index()
prices = (collection_df['prices'])
tix = list()
for price in prices:
    if type(price) == dict:
        tix.append(float(price['tix']))
    else:
        tix.append(1)
collection_df['tix'] = pd.Series(tix)

In [14]:
(collection_df['tix'] * collection_df['Quantity'].astype(int)).sum()

654.5600000000001

In [16]:
collection_df[collection_df['tix']>1].count()

mtgo_id     28
Quantity    28
Name        28
prices      28
tix         28
dtype: int64

,mtgo_id,Quantity,Name,prices,tix
0,1,1,Event Ticket,NaN,1.00
1,249,1,Island,"{'usd': None, 'usd_foil': None, 'eur': None, '...",0.08
2,6771,4,Alarum,"{'usd': '0.10', 'usd_foil': None, 'eur': '0.09...",0.07
3,6783,4,Armorer Guildmage,"{'usd': '0.08', 'usd_foil': None, 'eur': '0.02...",0.07
4,6865,3,Civic Guildmage,"{'usd': '0.14', 'usd_foil': None, 'eur': '0.02...",0.07
...,...,...,...,...,...
4932,83567,1,Forest,"{'usd': '0.38', 'usd_foil': '0.41', 'eur': Non...",0.01
4933,87311,1,Plains,"{'usd': '0.16', 'usd_foil': '0.61', 'eur': '0....",0.01
4934,87315,1,Swamp,"{'usd': '0.18', 'usd_foil': '0.50', 'eur': '0....",0.01
4935,87317,1,Mountain,"{'usd': '0.64', 'usd_foil': '0.72', 'eur': '0....",0.01
4936,87319,1,Forest,"{'usd': '0.12', 'usd_foil': '0.37', 'eur': '0....",0.01